**/[Ss]ecrets*
**/[Ss]ecret*
**/[Cc]erts.h
**/[Cc]ert.h

src/**/hardware/noisemeter-backups
src/**/hardware/production
src/**/hardware/fp-info-cache
src/**/hardware/fp-lib-table
src/**/hardware/sym-lib-table
src/**/hardware/*.pdf
*.kicad_prl
*.step
*.lck
*.sw*
