noisemeter-device/config.h
noisemeter-device/secret.h
noisemeter-device/certs.h
hardware/pcb-*/noisemeter-backups
hardware/pcb-*/production
hardware/pcb-*/fp-info-cache
hardware/pcb-*/fp-lib-table
hardware/pcb-*/sym-lib-table
*.kicad_prl
*.step
*.lck
*.sw*
*.bin
*.FCBak
.pio
