name: PlatformIO CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          node-version: 20
      - uses: actions/cache@v3
        with:
          node-version: 20
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v4
        with:
          node-version: 20
          python-version: '3.9'
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Build PlatformIO Project (esp32-pcb)
        run: pio run -e esp32-pcb

      - name: Build PlatformIO Project (esp32-breadboard)
        run: pio run -e esp32-breadboard
